@model Final_Project.Data.ViewModels.Login

@{
    ViewData["Title"] = "Login";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom-form {
        margin: 0 auto;
        padding: 40px;
        color: black;
        border-radius:5px;
    }
</style>
<div class="row mt-5">
    <div class="col-md-1 mr-3"></div>

    <div class="col-md-4 ml-3 mt-3 rounded">
        <form asp-action="Login" class="custom-form bg-light">
            <h1>Login</h1>
            @if (TempData["Error"] != null)
            {
                <h3>@TempData["Error"]</h3>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn" style="background-color: #00aeef" />
            </div>
        </form>
    </div>
    <div class="col-md-1 mr-3"></div>
    <div class="col-md-4 mr-3 mt-0 " >
        <img src="https://img.freepik.com/free-vector/privacy-policy-concept-illustration_114360-7853.jpg?w=740&t=st=1689162306~exp=1689162906~hmac=3e08d953496524ce18c05d632592dd732ed666817765f140b08f4dfb4a2109f5" />
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
