@model Final_Project.Models.Course
@using Final_Project.Data.Category
@{
    ViewData["Title"] = "Edit";
}
<style>
    .custom-form {
        margin: 0 auto;
        padding: 40px;
        color: black;
        border-radius: 5px;
    }
</style>


<hr />
<div class="row">
    <div class="col-md-1 mr-3"></div>

    <div class="col-md-4 ml-3 mt-3 rounded bg-light">
        <form asp-action="Edit" class="custom-form">
            <h1>Edit Course</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label"></label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<Category>()"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn text-white" style="background-color:#00aeef" />
            </div>
            <div>
                <a asp-action="GetAllForAdmin" asp-controller="HomeCourses" class="btn btn-dark">Back to Courses</a>
            </div>
        </form>
    </div>
    <div class="col-md-1 mr-3"></div>
    <div class="col-md-5 mr-3 mt-0 ">
        <img style="width:100%;height:100%" src="https://img.freepik.com/free-vector/business-top-management-online-service-platform-successful-strategy-motivation-leadership-project-manager-online-course-isolated-vector-illustration_613284-1020.jpg?w=996&t=st=1689167771~exp=1689168371~hmac=174ffe47e541106437747028e8c5c06192300b73b3a6f4d60799b8a54a1ca8ab" />
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
