@model Final_Project.Models.Meeting

@{
    ViewData["Title"] = "CreateMeeting";
}
<style>
    .custom-form {
        margin: 0 auto;
        padding: 40px;
        color: black;
        border-radius: 5px;
    }
</style>
    
    <div class="row mt-4">
    <div class="col-md-1 mr-3"></div>

    <div class="col-md-4 ml-3 mt-2 rounded bg-light">
        <form asp-action="CreateMeeting" class="custom-form bg-light">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agenda" class="control-label"></label>
                <input asp-for="Agenda" class="form-control" />
                <span asp-validation-for="Agenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="date" min="2023-07-12" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-1 mr-3"></div>
        <div class="col-md-4 mr-3 mt-5">
        <img src="https://img.freepik.com/premium-vector/interview-concept-professional-job-interview-business-people-work-man-businessman-design-flat-style-vector-illustration_169479-3825.jpg?w=1060" />
        </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
