@using Microsoft.AspNetCore.Http.HttpResults;
@inject UserManager<ApplicationUser> UserManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JE-Journy</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/after1.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesoeet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a style="width:150px;height:auto;margin-top:12px" class="logo" asp-action="index" asp-controller="Home"><img src="~/images/after1.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    @if (User.IsInRole("company"))
                    {
                        <li>
                            <a class="nav-link" asp-action="Post" asp-controller="Company">Post Job</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-action="myjobs" asp-controller="Company">My Jobs</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-action="Appliers" asp-controller="Company">Jobs & Applicant Details </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-action="AcceptedList" asp-controller="Company">Accepted</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-action="RejectedList" asp-controller="Company">Rejected </a>
                        </li>
                    }
                    @if (User.IsInRole("applicant"))
                    {
                        <li>
                            <a class="nav-link" asp-action="Jobs" asp-controller="Home">Jobs</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-action="MyApplies" asp-controller="Applicant">My Jobs</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-action="notification" asp-controller="Applicant">Jobs Statue</a>
                        </li>
@*                        <li>
                            <a class="nav-link" asp-action="MyCourses" asp-controller="Applicant">My Courses</a>
                        </li>*@
                        <li>
                            <a class="nav-link" asp-action="GetAllForApplicant" asp-controller="HomeCourses">Avaliable Courses</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-action="MyCourses" asp-controller="Applicant">My Courses</a>
                        </li>
                     @*   <li>
                            <button type="button" asp-action="notification" asp-controller="Applicant" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
                        </li>*@
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li>
                            <a class="nav-link" asp-action="List_Companies" asp-controller="Admin">New Companies</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-action="CreateCourse" asp-controller="HomeCourses">Create Course</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-action="GetAllForAdmin" asp-controller="HomeCourses">Avaliable Courses</a>
                        </li>

                    }
                </ul>
                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        <a class="nav-link" asp-action="Login" asp-controller="Applicant" style="color:black">LOGIN HERE</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                REGISTRATION
                            </button>
                            <div class="dropdown-menu login_text" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-action="CreateCompany" asp-controller="Company">Company</a>
                                <a class="dropdown-item" asp-action="Create" asp-controller="Applicant">Applicant</a>
                            </div>
                        </div>
                    </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Welcome: @User.Identity.Name
                                </button>
                                <div class="dropdown-menu login_text" aria-labelledby="dropdownMenuButton">
                                    <form asp-action="Logout" asp-controller="Applicant">
                                        <button type="submit" class="btn text-black-50" style="width:100%">LOGOUT <i class="fa fa-sign-out" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                    @*<div style="margin-right:90px" class="dropdown ml-auto">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome: @User.Identity.Name
                        </button>
                        <div class="dropdown-menu login_text" aria-labelledby="dropdownMenuButton">
                            <form asp-action="Logout" asp-controller="Applicant">
                                <button type="submit" class="text-black-50">LOGOUT</button>
                            </form>
                        </div>
                    </div>*@
                    @*<ul class="navbar-nav ml-auto">
                        <li class="mt-2 mr-4 h6 text-primary border border-primary rounded p-2 " style="cursor:pointer">
                            <b>Welcome: </b>  &ensp; @User.Identity.Name
                        </li>
                    <li class="nav-item">
                            <form asp-action="Logout" asp-controller="Applicant">
                                <button type="submit" class="nav-link btn btn-outline-danger text-black-50">LOGOUT</button>
                            </form>
                        </li>
                       
                    </ul>*@
                }
            </div>
        </nav>
    </header>
    <main role="main">
            @RenderBody()
        </main>
    <footer class="text-center text-lg-start bg-light text-muted">
    <div class="footer_section" >
        <div style="text-align:center" class="container">
            
            <h1 class="subscribr_text">Contact Us</h1>
            <a class="h5" href="mailto:JE_Journey@gmail.com" style="color:white">JE Journey@gmail.com</a>
            @*<div class="apply_bt">Join now</div>*@
            <p class="lorem_text">“Start where you are. Use what you have. Do what you can.” </p>
        </div>
    </div>
    </footer>
@*    <div class="copyright_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright_text">&copy;Copyright 2023 All Right Reserved By JE-Journy</p>
                </div>
                <div class="col-md-6">
                    <p class="cookies_text">Cookies, Privacy and Terms</p>
                </div>
            </div>
        </div>
    </div>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/jquery-3.0.0.min.js"></script>
	<script src="~/js/plugin.js"></script>
	<!-- sidebar -->
	<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
	@*<script src="~/js/custom.js"></script>*@
	<!-- javascript -->
	<script src="~/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('#myModal').on('/Applicant/notification', function () {
                $.ajax({
                    url: '/Applicant/notification',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $('#notificationPartial').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
