@model Final_Project.Models.Company

@{
    ViewData["Title"] = "CreateCompany";
}
<style>
    .custom-form {
        background-color: #00aeef;
        margin: 0 auto;
        padding: 40px;
        color: black;
        border-radius: 5px;
    }
</style>

<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <form asp-action="CreateCompany" enctype="multipart/form-data" class="custom-form">
            <h1>Register as Company</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-inline p-2">
                <label asp-for="Logo" class="control-label"></label>
                <input type="file" asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group d-inline p-2">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group d-inline p-2">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                @if (TempData["Error"] != null)
                {
                    <span asp-validation-for="EmailAddress" class="text-danger">@TempData["Error"]</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doc1" class="control-label"></label>
                <input type="file" asp-for="Doc1" class="form-control" />
                <span asp-validation-for="Doc1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doc2" class="control-label"></label>
                <input type="file" asp-for="Doc2" class="form-control" />
                <span asp-validation-for="Doc2" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <input asp-for="Trusted" value="False" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
    @if (TempData["joseph"] != null)
    {
        <span class="text-danger">@TempData["joseph"]</span>
    }
</div>
<div class="col-md-4"></div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
