@model Final_Project.Models.Job

@{
    ViewData["Title"] = "EditPost";
}
<style>
    .custom-form {
        background-color: #00aeef;
        margin: 0 auto;
        padding: 40px;
        color: black;
        border-radius: 5px;
    }
</style>


<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="EditPost" class="custom-form">
            <h1>Editing Job</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobId" />
            <div class="form-group">
                <label asp-for="Jop_Title" class="control-label"></label>
                <input asp-for="Jop_Title" class="form-control" />
                <span asp-validation-for="Jop_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jop_Description" class="control-label"></label>
                <input asp-for="Jop_Description" class="form-control" />
                <span asp-validation-for="Jop_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jop_Requrement" class="control-label"></label>
                <input asp-for="Jop_Requrement" class="form-control" />
                <span asp-validation-for="Jop_Requrement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <div>
                <a asp-action="myjobs" asp-controller="Company" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
