@model Final_Project.Models.Job

@{
    ViewData["Title"] = "Post";
}
<style>
    .custom-form {
        margin: 0 auto;
        padding: 40px;
        color: black;
        border-radius: 5px;
    }
</style>
<div class="row ml-5">
    
    <div class="col-md-1 mr-3"></div>
    <div class="col-md-4 ml-3 mt-3 rounded bg-light">
        <form asp-action="Post" class="custom-form">
            <h1>Post new Job</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Jop_Title" class="control-label"></label>
                <input asp-for="Jop_Title" class="form-control" />
                <span asp-validation-for="Jop_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jop_Description" class="control-label"></label>
                <input asp-for="Jop_Description" class="form-control" />
                <span asp-validation-for="Jop_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jop_Requrement" class="control-label"></label>
                <input asp-for="Jop_Requrement" class="form-control" />
                <span asp-validation-for="Jop_Requrement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input min="2023-07-12" asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn" style="background-color: #00aeef" />
            </div>
@*            <div>
                <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Back to List</a>
            </div>*@
        </form>
    </div>
    <div class="col-md-1 mr-3"></div>
    <div class="col-md-5 mr-3 mt-0 ">
        <img style="width:100%;height:100%" src="https://img.freepik.com/free-vector/man-search-hiring-job-online-from-laptop_1150-52728.jpg?w=1060&t=st=1689164081~exp=1689164681~hmac=f8df53a9b1eac6e4fc5f5782dd9c78aed064a665dc9a0f2adbc41a4c05758e7c" />
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
